<a href="https://colab.research.google.com/github/Tomiwa-31/Deploying-dockerized-python-app-on-aws-elastic-beanstalk/blob/main/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')  # Line 1
df1 = pd.read_csv("/content/drive/MyDrive/Transaction_cleaned.csv")

Mounted at /content/drive

In [ ]:
df1

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc,errors,is_international,is_online,zip_cleaned
0,7475327,2010-01-01 00:01:00,1556,2972,-77.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0
1,7475328,2010-01-01 00:02:00,561,4575,14.57,Swipe Transaction,67570,Bettendorf,IA,5311,No error,False,0,52722.0
2,7475329,2010-01-01 00:02:00,1129,102,80.00,Swipe Transaction,27092,Vista,CA,4829,No error,False,0,92084.0
3,7475331,2010-01-01 00:05:00,430,2860,200.00,Swipe Transaction,27092,Crown Point,IN,4829,No error,False,0,46307.0
4,7475332,2010-01-01 00:06:00,848,3915,46.41,Swipe Transaction,13051,Harwood,MD,5813,No error,False,0,20776.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,1.11,Chip Transaction,86438,West Covina,CA,5499,No error,False,0,91792.0
13305911,23761869,2019-10-31 23:56:00,1766,2066,12.80,Online Transaction,39261,ONLINE,ONLINE,5815,No error,True,1,-2.0
13305912,23761870,2019-10-31 23:57:00,199,1031,40.44,Swipe Transaction,2925,Allen,TX,4900,No error,False,0,75002.0
13305913,23761873,2019-10-31 23:58:00,1986,5443,4.00,Chip Transaction,46284,Daly City,CA,5411,No error,False,0,94014.0
13305914,23761874,2019-10-31 23:59:00,489,5697,12.88,Chip Transaction,24658,Greenbrier,TN,5921,No error,False,0,37073.0

In [ ]:
df2=pd.read_csv('/content/drive/MyDrive/Fraud_labels_cleaned.csv')

In [ ]:
merge_df=pd.merge(df1,df2,on='id',how='left')

In [ ]:
merge_df.loc[merge_df['merchant_city']=='Beulah']

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc,errors,is_international,is_online,zip_cleaned,Target
0,7475327,2010-01-01 00:01:00,1556,2972,-77.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,No
6,7475334,2010-01-01 00:09:00,1556,2972,77.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,NaN
12,7475340,2010-01-01 00:26:00,1556,2972,39.63,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,No
52304,7537800,2010-01-17 06:26:00,557,5570,25.34,Swipe Transaction,43785,Beulah,CO,4121,No error,False,0,81023.0,No
53994,7539797,2010-01-17 13:25:00,557,5570,15.75,Swipe Transaction,75936,Beulah,CO,5814,No error,False,0,81023.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13259107,23704174,2019-10-19 14:50:00,1345,5633,180.00,Swipe Transaction,27092,Beulah,ND,4829,No error,False,0,58523.0,No
13268334,23715493,2019-10-22 00:15:00,1556,2972,-76.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,No
13268340,23715499,2019-10-22 00:21:00,1556,2972,54.05,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,NaN
13268341,23715500,2019-10-22 00:22:00,1556,2972,76.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,NaN
13278643,23728156,2019-10-24 17:37:00,1682,3407,0.00,Chip Transaction,27092,Beulah,ND,4829,No error,False,0,58523.0,No

Comparing the length of the merged dataframe and both original dataframe

In [ ]:
print(len(df1))
print(len(df2))
print(len(merge_df))

13305915
8914963
13305915

Check for Nan values in our merged dataframe

In [ ]:
merge_df.isnull().sum()

id                  0
date                0
client_id           0
card_id             0
amount              0
use_chip            0
merchant_id         0
merchant_city       0
merchant_state      0
mcc                 0
errors              0
is_international    0
is_online           0
zip_cleaned         0
Target              0
dtype: int64

In [ ]:
merge_df['Target'].value_counts()

Target
No     8901631
Yes      13332
Name: count, dtype: int64

Filtering out rows in target colun with NAN vales

In [ ]:
merge_df.loc[merge_df['Target'].isna()]

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc,errors,is_international,is_online,zip_cleaned,Target
3,7475331,2010-01-01 00:05:00,430,2860,200.00,Swipe Transaction,27092,Crown Point,IN,4829,No error,False,0,46307.0,NaN
6,7475334,2010-01-01 00:09:00,1556,2972,77.00,Swipe Transaction,59935,Beulah,ND,5499,No error,False,0,58523.0,NaN
8,7475336,2010-01-01 00:21:00,335,5131,261.58,Online Transaction,50292,ONLINE,ONLINE,7801,No error,True,1,-2.0,NaN
9,7475337,2010-01-01 00:21:00,351,1112,10.74,Swipe Transaction,3864,Flushing,NY,5813,No error,False,0,11355.0,NaN
15,7475343,2010-01-01 00:31:00,1634,2464,1.09,Swipe Transaction,20519,San Benito,TX,5942,No error,False,0,78586.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305907,23761864,2019-10-31 23:55:00,374,4567,11.43,Chip Transaction,68147,Sacramento,CA,5813,No error,False,0,95823.0,NaN
13305908,23761865,2019-10-31 23:55:00,1475,1177,57.22,Chip Transaction,11468,Ewa Beach,HI,5970,No error,False,0,96706.0,NaN
13305909,23761867,2019-10-31 23:56:00,1421,3550,165.09,Chip Transaction,30286,Winterville,NC,4814,No error,False,0,28590.0,NaN
13305913,23761873,2019-10-31 23:58:00,1986,5443,4.00,Chip Transaction,46284,Daly City,CA,5411,No error,False,0,94014.0,NaN
13305914,23761874,2019-10-31 23:59:00,489,5697,12.88,Chip Transaction,24658,Greenbrier,TN,5921,No error,False,0,37073.0,NaN

Creating temporal,behavioural and transformational feature

In [ ]:
def create_temporal_feature(df):
    df = df.copy()

    # Convert to DateTime
    df['date'] = pd.to_datetime(df['date'])

    # Basic Time Features
    df['hour'] = df['date'].dt.hour
    df['day_of_week'] = df['date'].dt.dayofweek
    df['day_of_month'] = df['date'].dt.day
    df['month'] = df['date'].dt.month

    # Fraud specific time Features
    df['is_weekend'] = (df['day_of_week'] >= 5).astype('int8')
    df['is_night'] = ((df['hour'] >= 0) & (df['hour'] <= 5)).astype('int8')
    df['is_business_hours'] = ((df['hour'] >= 9) & (df['hour'] <= 17)).astype('int8')

    # Sort feature for client id and date
    df = df.sort_values(['client_id','date'])

    # MEMORY-EFFICIENT: Process in chunks for rolling features
    df = add_rolling_features_memory_efficient(df)

    # Outlier Detection
    df['amount_zscore'] = (df['amount'] - df['amount'].mean()) / df['amount'].std()
    df['is_amount_outlier'] = (df['amount_zscore'].abs() > 3).astype('int8')

    return df
def add_rolling_features_memory_efficient(df, chunk_size=10000):
    """Add rolling features with smaller chunks"""

    results = []
    print(f"Processing {len(df)} rows in chunks of {chunk_size}...")

    for i in range(0, len(df), chunk_size):
        chunk = df.iloc[i:i + chunk_size].copy()
        chunk = chunk.sort_values(['client_id', 'date'])

        # Set index for rolling
        chunk_indexed = chunk.set_index('date')

        try:
            # Rolling features with smaller chunks
            chunk['recent_tx_count_1d'] = chunk_indexed.groupby('client_id')['amount'].rolling('1D').count().values
            chunk['recent_avg_amount_7d'] = chunk_indexed.groupby('client_id')['amount'].rolling('7D').mean().values
        except MemoryError:

            chunk['recent_tx_count_1d'] = chunk.groupby(['client_id', chunk['date'].dt.date])['id'].transform('count')
            chunk['recent_avg_amount_7d'] = chunk.groupby('client_id')['amount'].transform('mean')

        results.append(chunk)

        if i % 100000 == 0:
            print(f"Processed rows {i} to {min(i + chunk_size, len(df))}")

    return pd.concat(results, ignore_index=True)

In [ ]:
merge_df_new_features=create_temporal_feature(merge_df)

Processing 13305915 rows in chunks of 10000...
Processed rows 0 to 10000
Processed rows 100000 to 110000
Processed rows 200000 to 210000
Processed rows 300000 to 310000
Processed rows 400000 to 410000
Processed rows 500000 to 510000
Processed rows 600000 to 610000
Processed rows 700000 to 710000
Processed rows 800000 to 810000
Processed rows 900000 to 910000
Processed rows 1000000 to 1010000
Processed rows 1100000 to 1110000
Processed rows 1200000 to 1210000
Processed rows 1300000 to 1310000
Processed rows 1400000 to 1410000
Processed rows 1500000 to 1510000
Processed rows 1600000 to 1610000
Processed rows 1700000 to 1710000
Processed rows 1800000 to 1810000
Processed rows 1900000 to 1910000
Processed rows 2000000 to 2010000
Processed rows 2100000 to 2110000
Processed rows 2200000 to 2210000
Processed rows 2300000 to 2310000
Processed rows 2400000 to 2410000
Processed rows 2500000 to 2510000
Processed rows 2600000 to 2610000
Processed rows 2700000 to 2710000
Processed rows 2800000 to 2810000
Processed rows 2900000 to 2910000
Processed rows 3000000 to 3010000
Processed rows 3100000 to 3110000
Processed rows 3200000 to 3210000
Processed rows 3300000 to 3310000
Processed rows 3400000 to 3410000
Processed rows 3500000 to 3510000
Processed rows 3600000 to 3610000
Processed rows 3700000 to 3710000
Processed rows 3800000 to 3810000
Processed rows 3900000 to 3910000
Processed rows 4000000 to 4010000
Processed rows 4100000 to 4110000
Processed rows 4200000 to 4210000
Processed rows 4300000 to 4310000
Processed rows 4400000 to 4410000
Processed rows 4500000 to 4510000
Processed rows 4600000 to 4610000
Processed rows 4700000 to 4710000
Processed rows 4800000 to 4810000
Processed rows 4900000 to 4910000
Processed rows 5000000 to 5010000
Processed rows 5100000 to 5110000
Processed rows 5200000 to 5210000
Processed rows 5300000 to 5310000
Processed rows 5400000 to 5410000
Processed rows 5500000 to 5510000
Processed rows 5600000 to 5610000
Processed rows 5700000 to 5710000
Processed rows 5800000 to 5810000
Processed rows 5900000 to 5910000
Processed rows 6000000 to 6010000
Processed rows 6100000 to 6110000
Processed rows 6200000 to 6210000
Processed rows 6300000 to 6310000
Processed rows 6400000 to 6410000
Processed rows 6500000 to 6510000
Processed rows 6600000 to 6610000
Processed rows 6700000 to 6710000
Processed rows 6800000 to 6810000
Processed rows 6900000 to 6910000
Processed rows 7000000 to 7010000
Processed rows 7100000 to 7110000
Processed rows 7200000 to 7210000
Processed rows 7300000 to 7310000
Processed rows 7400000 to 7410000
Processed rows 7500000 to 7510000
Processed rows 7600000 to 7610000
Processed rows 7700000 to 7710000
Processed rows 7800000 to 7810000
Processed rows 7900000 to 7910000
Processed rows 8000000 to 8010000
Processed rows 8100000 to 8110000
Processed rows 8200000 to 8210000
Processed rows 8300000 to 8310000
Processed rows 8400000 to 8410000
Processed rows 8500000 to 8510000
Processed rows 8600000 to 8610000
Processed rows 8700000 to 8710000
Processed rows 8800000 to 8810000
Processed rows 8900000 to 8910000
Processed rows 9000000 to 9010000
Processed rows 9100000 to 9110000
Processed rows 9200000 to 9210000
Processed rows 9300000 to 9310000
Processed rows 9400000 to 9410000
Processed rows 9500000 to 9510000
Processed rows 9600000 to 9610000
Processed rows 9700000 to 9710000
Processed rows 9800000 to 9810000
Processed rows 9900000 to 9910000
Processed rows 10000000 to 10010000
Processed rows 10100000 to 10110000
Processed rows 10200000 to 10210000
Processed rows 10300000 to 10310000
Processed rows 10400000 to 10410000
Processed rows 10500000 to 10510000
Processed rows 10600000 to 10610000
Processed rows 10700000 to 10710000
Processed rows 10800000 to 10810000
Processed rows 10900000 to 10910000
Processed rows 11000000 to 11010000
Processed rows 11100000 to 11110000
Processed rows 11200000 to 11210000
Processed rows 11300000 to 11310000
Processed rows 11400000 to 11410000
Processed rows 11500000 to 11510000
Processed rows 11600000 to 11610000
Processed rows 11700000 to 11710000
Processed rows 11800000 to 11810000
Processed rows 11900000 to 11910000
Processed rows 12000000 to 12010000
Processed rows 12100000 to 12110000
Processed rows 12200000 to 12210000
Processed rows 12300000 to 12310000
Processed rows 12400000 to 12410000
Processed rows 12500000 to 12510000
Processed rows 12600000 to 12610000
Processed rows 12700000 to 12710000
Processed rows 12800000 to 12810000
Processed rows 12900000 to 12910000
Processed rows 13000000 to 13010000
Processed rows 13100000 to 13110000
Processed rows 13200000 to 13210000
Processed rows 13300000 to 13305915

Fill the NAN values in target column with -1 which indicates unlabelled data

In [ ]:
merge_df['Target']=merge_df['Target'].fillna(-1)

In [ ]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   date              object
 2   client_id         int64
 3   card_id           int64
 4   amount            float64
 5   use_chip          object
 6   merchant_id       int64
 7   merchant_city     object
 8   merchant_state    object
 9   mcc               int64
 10  errors            object
 11  is_international  bool
 12  is_online         int64
 13  zip_cleaned       float64
 14  Target            object
dtypes: bool(1), float64(2), int64(6), object(6)
memory usage: 1.4+ GB

In [ ]:
merge_df['client_id'].value_counts()

client_id
1098    48479
909     43381
1963    42462
1776    41350
114     40286
        ...
1016     2170
955      1997
1680     1983
1510     1845
1223      760
Name: count, Length: 1219, dtype: int64

In [ ]:
import psutil
print(f"Memory usage: {psutil.virtual_memory().percent}%")

Memory usage: 68.6%

In [ ]:
import gc
gc.collect()

24

In [ ]:
merge_df_new_features.to_parquet('/content/drive/MyDrive/feature_engineering.parquet', index=False)